*.db
*.suo
*.licx
*.csproj.user
*.tmp
*.pyc
*.user
*.snk
*.p7b
*.pfx
*.PublishSettings
*.pubxml
*.ide
*.mdf
*.ldf

.version
notes.txt
Version.cs
BuildDate.txt
App_Start/Passwords.cs

bin/
obj/
build/
App_Data/
packages/
ObfuscationMaps/
TestResults/
.sync/
.vs/
.vscode/
.idea/